body{
    margin: 0;
    background-color: black;
    text-align: center;
    height: 100vh;
}

h1{
    font-family: "Jacquard 24", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 13em;
    color: #a126e3;
    margin: 0;
    padding: 0;
  }

  h2{
    font-family: "Courier Prime", monospace;
    font-size: 1em;
    color: white;
    font-weight: 100;
  }

  p{
    font-family: "Courier Prime", monospace;
    font-size: 1em;
    color: #f32ba7;
    font-weight: 100;
  }

  a{
    font-family: "Courier Prime", monospace;
    font-size: 1em;
    color: white;
    text-decoration: none;
    font-weight: 100;
  }

  a:hover {
    color: #f32ba7; 
    text-decoration: underline;
  }

h6{
    font-family: "Courier Prime", monospace;
    color: #f32ba7;
    font-size: 1em;
    font-weight: 100;
}